<a href="https://colab.research.google.com/github/BrightAlemneh/Deep_Learnings/blob/main/VCSE_04_Exp7_Build_Deep_NN_for_Regression_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
from keras.layers import Dense, Activation
from keras.models import Sequential
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [ ]:
# Importing the dataset
dataset = pd.read_csv('/content/drive/MyDrive/Dataset/kc_house_data.csv')

In [ ]:
dataset.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [ ]:
 dataset.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [ ]:
dataset.shape

(21613, 21)

In [ ]:
dataset.describe()

                 id         price  ...  sqft_living15     sqft_lot15
count  2.161300e+04  2.161300e+04  ...   21613.000000   21613.000000
mean   4.580302e+09  5.400881e+05  ...    1986.552492   12768.455652
std    2.876566e+09  3.671272e+05  ...     685.391304   27304.179631
min    1.000102e+06  7.500000e+04  ...     399.000000     651.000000
25%    2.123049e+09  3.219500e+05  ...    1490.000000    5100.000000
50%    3.904930e+09  4.500000e+05  ...    1840.000000    7620.000000
75%    7.308900e+09  6.450000e+05  ...    2360.000000   10083.000000
max    9.900000e+09  7.700000e+06  ...    6210.000000  871200.000000

[8 rows x 20 columns]

In [ ]:
# estimating price value
dataset.drop(['id','date'], axis=1,inplace=True)

In [ ]:
dataset.shape

(21613, 19)

In [ ]:
dataset.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [ ]:
target = 'price'
features = dataset.columns 
print(type(features))
features=list(features)

<class 'pandas.core.indexes.base.Index'>

In [ ]:
print(features)

['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

In [ ]:
features

['id',
 'date',
 'price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

In [ ]:
features.remove('price')
print(features)

['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

In [ ]:
dataset['price'].dtype

dtype('float64')

In [ ]:
dataset['price'].head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

In [ ]:
#check for null values
dataset.isnull().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       2
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [ ]:
x=dataset[['price']]
y=dataset[['bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'sqft_living15']]

In [ ]:
#y = dataset[feature]
x.shape,y.shape

((21613, 1), (21613, 11))

In [ ]:
# Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.08, random_state = 0)

In [ ]:
X_train

           price
10518   150000.0
11780   289950.0
13915   270000.0
8755    305000.0
6924    417500.0
...          ...
13123  1180000.0
19648   299000.0
9845    431000.0
10799   411000.0
2732    699900.0

[19883 rows x 1 columns]

In [ ]:
y_train

       bedrooms  bathrooms  sqft_living  ...  sqft_basement  yr_built  sqft_living15
10518         3       1.00         1320  ...              0      1959           1320
11780         3       1.00         1090  ...              0      1947           1060
13915         3       1.50         1300  ...            400      1970           1630
8755          2       1.00          960  ...              0      1939           1620
6924          2       1.00         1330  ...            480      1910           1200
...         ...        ...          ...  ...            ...       ...            ...
13123         5       5.00         3960  ...              0      1998           2240
19648         2       2.50         1400  ...            240      2008           1060
9845          3       2.25         2360  ...              0      1978           2720
10799         4       2.00         2370  ...              0      1978           2110
2732          4       2.25         2380  ...            840      1961           2230

[19883 rows x 11 columns]

In [ ]:
# Importing the dataset
dataset = pd.read_csv('/content/drive/MyDrive/Dataset/kc_house_data.csv')

In [ ]:
# Splitting the dataset into the Training set and Test set
Xtrain, Xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.08, random_state = 0)

In [ ]:

# Feature Scaling
sc = StandardScaler()
Xtrain = sc.fit_transform(Xtrain)
Xtest = sc.transform(Xtest)

In [ ]:

Xtrain=x/255.0
Xtest=x/255.0

In [ ]:
Xtrain.shape,ytrain.shape

((21613, 1), (19883, 11))

In [ ]:
x1 = np.asarray(X_train).astype(np.float32)

In [ ]:
# Initialising the ANN
model = Sequential()
# Adding the input layer and the first hidden layer
model.add(Dense(32, activation = 'relu', input_dim = 6))
# Adding the second hidden layer
model.add(Dense(units = 32, activation = 'relu'))
# Adding the third hidden layer
model.add(Dense(units = 32, activation = 'relu'))
# Adding the output layer
model.add(Dense(units = 1))
#model.add(Dense(1))

In [ ]:
# Compiling the NN
model.compile(optimizer = 'adam', loss = 'mean_squared_error')
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 32)                224
_________________________________________________________________
dense_5 (Dense)              (None, 32)                1056
_________________________________________________________________
dense_6 (Dense)              (None, 32)                1056
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 33
=================================================================
Total params: 2,369
Trainable params: 2,369
Non-trainable params: 0
_________________________________________________________________

In [ ]:

# Fitting the ANN to the Training set

history= model.fit(X_train, y_train, batch_size = 10, epochs = 100)

ValueError: ignored

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
plt.plot(y_test, color = 'red', label = 'Real data')
plt.plot(y_pred, color = 'blue', label = 'Predicted data')
plt.title('Prediction')
plt.legend()
plt.show()